<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="Enable TLS 1.2" type="BizTalkComponents.WCFCustomExtensions.EnableTLS12Behaviour, Version=1.0.0.0, Culture=neutral, PublicKeyToken=5bef280215158741" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>
